<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
    <head>

    </head>
    <body>
    <div>
        <a th:href="@{/users/new}" class="btn btn-primary" type="submit">Create Cats</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}" th:object="${user}">
                <td th:text="*{id}"></td>
                <td th:text="*{username}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{password}"></td>
                <td>
                    <form method="post" th:action="@{'/users/' + ${user.id} + '/delete'}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    </body>
</html>