<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
    <head>

    </head>
<body>
<div>
    <form method="post" th:action="@{/cats/new}" th:object="${cat}">

        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" th:field="*{name}"/>
            <button type="submit">Create</button>
        </div>

    </form>
</div>
</body>
</th:block>
</html>