<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
    <head>

    </head>
<body>
<div>
    <form method="post" th:action="@{/cats/new}" th:object="${cat}">

        <div class="form-group">
            <label for="id">Id</label>
            <input class="form-control" type="text" id="id" th:field="*{id}"/>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label for="createdBy">Created By</label>
            <input class="form-control" type="text" id="createdBy" th:field="*{createdBy}"/>
        </div>

        <div class="form-group">
            <label for="creationDate">Creation Date</label>
            <input class="form-control" type="date" id="creationDate" th:field="*{creationDate}"/>
        </div>
</div>
</body>
</html>